# FlashDrop - Orders Service
# ===========================
# Copy this file to .env and fill in the real values.
# WARNING: Never commit the .env file to the repository.

SPRING_PROFILES_ACTIVE=supabase

SUPABASE_URL=http://supabasekong-wymwq8rktid7ov678oe4va90.76.13.169.150.sslip.io
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key

DELIVERY_FEE=2500

AUTH_SERVICE_URL=http://localhost:8081

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest